In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree

In [2]:
pd.set_option('display.max_columns', None)

# HW:
The data set includes the churn of customers of a telecommunications company.
The task is to create segments from customers based on their characteristics using the KMeans algorithm.

Do not use the following variables for grouping:
- churn?: has the customer dropped out?
- Contract_date: contract conclusion time
- Cust_ID: customer ID

In [5]:
file_path = "./telco_sampled.csv"
df = pd.read_csv(file_path, sep = ';')

In [6]:
df.head()

,Contract_date,Package,Gender,Age,Marital_Status,Living_Condition,Graduation,Job_Type,Income,Peak_minute_09,Weekend_minute_09,Offpeak_minute_09,Offpeak_nr_09,Peak_nr_09,Weekend_nr_09,Selfnet_minute_09,Fixed_minute_09,Othermob_minute_09,Voicemail_nr_09,Voicemail_minute_09,SMS_09,Peak_minute_10,Weekend_minute_10,Offpeak_minute_10,Offpeak_nr_10,Peak_nr_10,Weekend_nr_10,Selfnet_minute_10,Fixed_minute_10,Othermob_minute_10,Voicemail_nr_10,Voicemail_minute_10,SMS_10,Peak_minute_11,Weekend_minute_11,Offpeak_minute_11,Offpeak_nr_11,Peak_nr_11,Weekend_nr_11,Selfnet_minute_11,Fixed_minute_11,Othermob_minute_11,Voicemail_nr_11,Voicemail_minute_11,SMS_11,Peak_minute_12,Weekend_minute_12,Offpeak_minute_12,Offpeak_nr_12,Peak_nr_12,Weekend_nr_12,Selfnet_minute_12,Fixed_minute_12,Othermob_minute_12,Voicemail_nr_12,Voicemail_minute_12,SMS_12,churn?,Cust_ID
0,9/20/04 12:00 AM,PACK_B,Male,42.0,Married,Owner,University,Leader,15_30k,0.55,0.28,0.00,0.0,2.0,1.0,0.83,0.00,0.00,3.0,0.83,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0,ID0020614
1,2/12/05 12:00 AM,PACK_B,Female,53.0,Married,Owner,University,Public_Employee,Below_15k,11.32,6.53,6.98,26.0,37.0,19.0,6.70,8.02,10.12,21.0,21.90,58.0,25.70,5.28,15.38,52.0,77.0,32.0,11.07,12.80,22.50,30.0,37.33,128.0,25.33,0.00,7.60,51.0,49.0,20.0,1.83,14.52,16.58,36.0,32.93,83.0,11.95,3.60,4.28,25.0,40.0,25.0,0.93,6.20,12.70,21.0,19.83,66.0,0,ID0029505
2,10/19/04 12:00 AM,PACK_X,Male,43.0,Married,Owner,Highschool,Executive,30_60k,78.05,3.90,8.43,5.0,103.0,9.0,19.67,2.83,67.88,116.0,90.38,1.0,24.30,15.53,2.63,9.0,40.0,16.0,17.15,1.68,23.35,65.0,42.47,0.0,55.27,1.27,1.75,7.0,64.0,4.0,6.63,15.45,36.20,74.0,58.28,1.0,9.97,8.65,4.23,3.0,22.0,18.0,2.98,0.38,9.40,31.0,22.07,12.0,0,ID0050206
3,10/31/04 12:00 AM,PACK_B,Male,32.0,Married,Owner,Highschool,Labourer,15_30k,0.08,0.00,0.00,0.0,1.0,0.0,0.08,0.00,0.00,1.0,0.08,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0,ID0050343
4,11/19/04 12:00 AM,PACK_B,Female,31.0,Married,Owner,Highschool,Public_Employee,30_60k,20.68,13.87,33.27,49.0,30.0,26.0,37.90,0.53,23.02,79.0,67.82,26.0,42.08,24.48,31.10,39.0,56.0,28.0,65.58,1.53,26.10,100.0,97.67,23.0,31.52,28.27,28.37,33.0,48.0,46.0,50.80,0.62,31.17,103.0,86.70,21.0,49.68,35.90,29.45,69.0,78.0,47.0,71.17,2.13,31.05,121.0,111.40,64.0,0,ID0050688

In [7]:
df['churn?'].value_counts()

churn?
0    1224
1     341
Name: count, dtype: int64

# 1. Subtask: (data preparation)
Use all variables except for the three variables above when creating the clusters. Perform data preparation so that the variables are input to the model in the appropriate form.

(hint: categorical variables, missing values, scaling, etc.)

In [8]:
# ...

# 2. Subtask: (clustering)
Find the optimal k value for the KMeans algorithm using the variables prepared in the previous task. Then group the customers.

In [9]:
# ...

# 3. Subtask: (explaination of clusters / conclusions)
Try to find an explanation of what characterizes each group and what characteristics caused each customer to be in the given cluster.

In [10]:
# ...