In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [2]:
import pandas as pd
df = pd.read_csv('verified_pb.data', 
                 sep= "\t",
                 header=None)
df.columns = ['gender', 'speaker', 'phoneme_number','phoneme','F0','F1','F2','F3']
df

      gender  speaker  phoneme_number phoneme     F0     F1      F2      F3
0          1        1               1      IY  160.0  240.0  2280.0  2850.0
1          1        1               1      IY  186.0  280.0  2400.0  2790.0
2          1        1               2      IH  203.0  390.0  2030.0  2640.0
3          1        1               2      IH  192.0  310.0  1980.0  2550.0
4          1        1               3      EH  161.0  490.0  1870.0  2420.0
...      ...      ...             ...     ...    ...    ...     ...     ...
1515       3       76               8      UH  322.0  610.0  1550.0  3400.0
1516       3       76               9      UW  345.0  520.0  1250.0  3460.0
1517       3       76               9      UW  334.0  500.0  1140.0  3380.0
1518       3       76              10      ER  308.0  740.0  1850.0  2160.0
1519       3       76              10      ER  328.0  660.0  1830.0  2200.0

[1520 rows x 8 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1520 entries, 0 to 1519
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          1520 non-null   int64
 1   speaker         1520 non-null   int64
 2   phoneme_number  1520 non-null   int64
 3   phoneme         1520 non-null   object
 4   F0              1520 non-null   float64
 5   F1              1520 non-null   float64
 6   F2              1520 non-null   float64
 7   F3              1520 non-null   float64
dtypes: float64(4), int64(3), object(1)
memory usage: 95.1+ KB

In [4]:
X =  df.drop(['phoneme','phoneme_number','gender','speaker'], axis=1).values
y = df['phoneme_number'].values

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [11]:
#y_train = y_train.to_numpy()
y_train = np.array(y_train)

In [12]:
classes = np.unique(y_train)

In [13]:
class_means = {}
for cls in classes:
    class_means[cls] = X_train_scaled[y_train == cls].mean(axis=0)

In [14]:
def predict_class(x, class_means):
    distances = {cls: np.linalg.norm(x - mean) for cls, mean in class_means.items()}
    return min(distances, key=distances.get)

In [15]:
y_pred = [predict_class(x, class_means) for x in X_test_scaled]

In [ ]:
accuracy = accuracy_score(y_test, y_pred)
print(f'Baseline Accuracy: {accuracy:.2f}')