In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split


df1=pd.read_csv('C:/Users/Norbi/Downloads/PetersonBarney/PetersonBarney/verified_pb.data', delim_whitespace=True, header=None)  # header=None if no header in the file

df=df1[[4,5,6,7]]


x_train, temp1, train=train_test_split(df, test_size=0.2, random_state=42)

valid1, test1=train_test_split(temp, test_size=0.5, random_state=42)

df

          4      5       6       7
0     160.0  240.0  2280.0  2850.0
1     186.0  280.0  2400.0  2790.0
2     203.0  390.0  2030.0  2640.0
3     192.0  310.0  1980.0  2550.0
4     161.0  490.0  1870.0  2420.0
...     ...    ...     ...     ...
1515  322.0  610.0  1550.0  3400.0
1516  345.0  520.0  1250.0  3460.0
1517  334.0  500.0  1140.0  3380.0
1518  308.0  740.0  1850.0  2160.0
1519  328.0  660.0  1830.0  2200.0

[1520 rows x 4 columns]

In [14]:
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

le=LabelEncoder()
y=le.fit_transform(df1[3])

x_train, x_t, y_train, y_t=train_test_split(df, y, test_size=0.2, random_state=42)

x_valid, x_test, y_valid, y_test = train_test_split(x_t, y_t, test_size=0.5, random_state=42)

classifier = LogisticRegression()
classifier.fit(x_train, y_train)

y_val_pred = classifier.predict(x_valid)
val_accuracy = accuracy_score(y_valid, y_val_pred)
print(f"Accuracy(Validation): {val_accuracy:.2f}")

# Step 5: Evaluate the model on the test set
y_test_pred = classifier.predict(x_test)
test_accuracy = accuracy_score(y_test, y_test_pred)
print(f"Accuracy(Test): {test_accuracy:.2f}")

Accuracy(Validation): 0.67
Accuracy(Test): 0.72

C:\Users\Norbi\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [18]:
class_sizes = df1[3].value_counts()
class_sizes

IY     148
ER     148
UW     143
AE     127
UH     127
IH     114
AO     108
AH     104
EH      93
AA      87
*AA     65
*EH     59
*AH     48
*AO     44
*IH     38
*AE     25
*UH     25
*UW      9
*IY      4
*ER      4
Name: 3, dtype: int64