In [20]:
#import data and set working directory
import os
os.getcwd()

'C:\\Users\\cunci\\Desktop\\AML\\PetersonBarney'

In [21]:
os.chdir("C:/Users/cunci/Desktop/AML/PetersonBarney/")

I imported the data from my own folders

In [22]:
#import data
import pandas as pd
data = pd.read_csv("verified_pb.data", sep="\t", header = None)
head = ['gender', 'repetitions', 'vowels_num', 'vowels_char', 'F0', 'F1', 'F2', 'F3']
data.columns = head
data

,gender,repetitions,vowels_num,vowels_char,F0,F1,F2,F3
0,1,1,1,IY,160.0,240.0,2280.0,2850.0
1,1,1,1,IY,186.0,280.0,2400.0,2790.0
2,1,1,2,IH,203.0,390.0,2030.0,2640.0
3,1,1,2,IH,192.0,310.0,1980.0,2550.0
4,1,1,3,EH,161.0,490.0,1870.0,2420.0
...,...,...,...,...,...,...,...,...
1515,3,76,8,UH,322.0,610.0,1550.0,3400.0
1516,3,76,9,UW,345.0,520.0,1250.0,3460.0
1517,3,76,9,UW,334.0,500.0,1140.0,3380.0
1518,3,76,10,ER,308.0,740.0,1850.0,2160.0
1519,3,76,10,ER,328.0,660.0,1830.0,2200.0

Analyse data: <br>
first column: <br>
1-Male <br>
2-Female <br>
3-Children <br>
second column: hányadik magánhangzót mondja (személyenként 10) <br>
third column: a maganhangzó szám megfelelője  <br>
fourth column: a maganhangzó <br>
fifth column: koordináták

In [23]:
#BASELINE MODEL
from sklearn.model_selection import train_test_split

train, tests = train_test_split(data, test_size = 0.2)

test, valid = train_test_split(tests, test_size = 0.5)

In [24]:
grouped_train = train.groupby("vowels_num")
average_train = grouped_train.mean()

for i in range(len(average_train)):
    exec(f'center_{i+1} = average_train.iloc[i,2:]')

C:\Users\cunci\AppData\Local\Temp\ipykernel_6112\947110452.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_train = grouped_train.mean()

In [25]:
#model
import numpy as np

predict = []
for i in range(len(test)):
    target = test.iloc[i,4:]
    distances = []
    distance_1 = np.linalg.norm(center_1 - target)
    distances.append(distance_1)
    distance_2 = np.linalg.norm(center_2 - target)
    distances.append(distance_2)
    distance_3 = np.linalg.norm(center_3 - target)
    distances.append(distance_3)
    distance_4 = np.linalg.norm(center_4 - target)
    distances.append(distance_4)
    distance_5 = np.linalg.norm(center_5 - target)
    distances.append(distance_5)
    distance_6 = np.linalg.norm(center_6 - target)
    distances.append(distance_6)
    distance_7 = np.linalg.norm(center_7 - target)
    distances.append(distance_7)
    distance_8 = np.linalg.norm(center_8 - target)
    distances.append(distance_8)
    distance_9 = np.linalg.norm(center_9 - target)
    distances.append(distance_9)
    distance_10 = np.linalg.norm(center_10 - target)
    distances.append(distance_10)
    
    
    to_label = min(distances)
    if to_label == distance_1:
        label = 1
    if to_label == distance_2:
        label = 2
    if to_label == distance_3:
        label = 3
    if to_label == distance_4:
        label = 4
    if to_label == distance_5:
        label = 5
    if to_label == distance_6:
        label = 6
    if to_label == distance_7:
        label = 7
    if to_label == distance_8:
        label = 8
    if to_label == distance_9:
        label = 9
    if to_label == distance_10:
        label = 10
    predict.append(label)

In [26]:
test['Prediction'] = predict

In [27]:
test

,gender,repetitions,vowels_num,vowels_char,F0,F1,F2,F3,Prediction
1005,2,51,3,EH,224.0,521.0,2460.0,2920.0,2
841,2,43,1,IY,250.0,325.0,2900.0,3500.0,1
1415,3,71,8,UH,250.0,450.0,1440.0,3500.0,5
248,1,13,5,AH,140.0,600.0,1220.0,2530.0,8
956,2,48,9,UW,196.0,330.0,760.0,2870.0,7
...,...,...,...,...,...,...,...,...,...
1300,3,66,1,IY,330.0,460.0,2800.0,3550.0,1
717,2,36,9,UW,208.0,330.0,750.0,2740.0,9
1398,3,70,10,ER,226.0,452.0,1580.0,1810.0,10
60,1,4,1,IY,150.0,300.0,2240.0,3400.0,1
123,1,7,2,IH,170.0,410.0,2040.0,2715.0,3

In [39]:
num_of_correct_pred = 0
for i in range(len(test)):
    if test.iloc[i]['vowels_num'] == test.iloc[i]['Prediction']:
        num_of_correct_pred += 1

num_of_correct_pred/152

0.48026315789473684

After the baseline model I tried to builed a Gaussian Mixture Model, but the predictions failed because of the floating number are to close to zero.

In [9]:
#nem jött be

from sklearn.mixture import GaussianMixture
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

#transformed_X = StandardScaler()

model = GaussianMixture(n_components=10).fit(train[['gender','repetitions','F0','F1','F2','F3']])

In [10]:
#test['F00'] = preprocessing.normalize([np.array(test['F0'])])[0]

labels = pd.Series(model.predict(test[['gender','repetitions','F0','F1','F2','F3']]))

In [11]:
train['labels'] = labels

In [12]:
train

,gender,repetitions,vowels_num,vowels_char,F0,F1,F2,F3,labels
1007,2,51,4,*AE,203.0,678.0,2420.0,3080.0,NaN
1365,3,69,3,EH,263.0,600.0,2360.0,3400.0,NaN
852,2,43,7,AO,233.0,650.0,900.0,2920.0,NaN
658,1,33,10,ER,143.0,543.0,1310.0,1643.0,NaN
346,1,18,4,AE,116.0,640.0,1620.0,2200.0,NaN
...,...,...,...,...,...,...,...,...,...
1441,3,73,1,IY,267.0,350.0,3250.0,3700.0,NaN
1472,3,74,7,AO,265.0,850.0,850.0,2920.0,NaN
566,1,29,4,AE,116.0,640.0,1710.0,2450.0,NaN
1090,2,55,6,AA,208.0,860.0,1103.0,2700.0,NaN
181,1,10,1,IY,125.0,250.0,2200.0,2825.0,NaN

I tried the K nearest neighbour, which performed much better than the baseline.

In [14]:

from sklearn.neighbors import KNeighborsClassifier
#from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import accuracy_score

def fit_model(X_train, y_train, k = 10):
    # Implement KNN classifier
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)

    # Predict on the train set
    train_predict = knn.predict(X_train)

    # Calculate and return accuracy on train set
    train_accuracy = accuracy_score(y_train, train_predict)
    return train_accuracy, knn


def test_model(model, X_test, y_test):
    # Predict on the test set
    test_predict = model.predict(X_test)

    # Calculate and return accuracy on test set
    test_accuracy = accuracy_score(y_test, test_predict)
    return test_accuracy

In [15]:
train_sample_accuracy = fit_model(train[['gender','repetitions','F0','F1','F2','F3']], train['vowels_num'])

In [16]:
train_sample_accuracy

(0.859375, KNeighborsClassifier(n_neighbors=10))

In [17]:
X=train[['gender','repetitions','F0','F1','F2','F3']]

In [18]:
test_sample_accuracy = test_model(KNeighborsClassifier(n_neighbors=10).fit(X, train['vowels_num']),test[['gender','repetitions','F0','F1','F2','F3']], test['vowels_num'])

In [19]:
test_sample_accuracy

0.8223684210526315

If I had the time, I would try the modeling without the outliers or without the failing observations.