# First steps in Python, getting to know variables
We get to know the syntax of python, and some of the basic data types and structures - we will use these extensively later.

---

## Jupyter notebook
Handy way to interact with your code, "Mathematica" style.

Code is divided into cells. You can navigate between them using your mouse.

When inside a cell, pressing "return" gets you a new line,
"shift+return" executes the current cell, including output of pictures or text, and moves to the next cell. It also prints the last return value of the cell.

Useful buttons in the menu above:
 -- You can ask for a new cell below the curent one with "+"
 -- Use uparrow and downarrow to navigate
 -- change the cell type

## Comments
In python comments begin with a hash ('#'), and last until the end of the line.
A comment can be at the beginning of the line, or after a space, a tab. If you write '#' inside a string, however, it will not begin a comment - it will just be a hash.

In [2]:
# first comment
spam = 1                 # second comment
                         # ... third
string = "# Not a comment, since between quotes"

You write comments for people reading your code - this will most likely be you sometime later. It helps the reader understand what the code is trying to achieve. Although you should attempt to write clear, self-documenting code, nevertheless comments can be useful, and save you a lot of time if you come back to a project after a couple of weeks or months.

---

## Python as a calculator

A notebook can be used as a calculator, with the usual syntax: +, -, * and/ work in the same way as you would expect. You can use brackets to group stuff.

In [3]:
2 + 2

4

You can use print() to evaluate and show the outcome of more calculations in one cell

In [1]:
print(2+2)
print(3*4)

4
12

In [2]:
50 - 5*6

20

In [3]:
(50 - 5*6) / 4

5.0

In [4]:
8 / 4  # division of integers gives a float.

2.0

Integer numbers (e.g., 2, 4, -20) have type **int**, real numbers (e.g., 5.0, 1.614) have type **float**.
In python 3, division (/) always returns a float. If we want the division of an integer by an integer, with a remainder, we should use // and %:

In [8]:
17 / 3  # conventional division

5.666666666666667

In [9]:
17 // 3  # integer division

5

In [10]:
17 % 3  # the remainder of the division (modulo division). Always between 0 and the number

2

In [11]:
5 * 3 + 2  #

17

In [12]:
-1 // 3

-1

In [13]:
(-1 // 3) + (-1 % 3)

1

To raise something to the power of something, use ** :

In [14]:
print(5 ** 2)
print(5.**2.)
print(25**0.5)
print(4 ** -0.5)
print((-2)**2)
print((-2)**-2)

25
25.0
5.0
0.5
4
0.25

`Python` prefers floating point numbers to integers: if types are mixed, ints are converted to floats.

In [15]:
3 * 3.75 / 1.5

7.5

In [16]:
7.0 + 2

9.0

Sometimes we need to explicitly convert: use int() and float(). The conversion to integer is by throwing away the fractional part: always rounding down with positive, rounding up with negative numbers.

In [ ]:
int(3.615)

3

In [ ]:
int(-0.9)

0

In [ ]:
float(42)

42.0

`Python` can handle complex numbers. The imaginary part is denoted by j or J.

In [ ]:
(1-1j) * (1+1J)

(2+0j)

In [ ]:
print(3+1j*3)
print((3+1j)*3)
print( (1+2j)/(1+1j) )

(3+3j)
(9+3j)
(1.5+0.5j)

In [ ]:
print((-2)**0.5)

(8.659560562354934e-17+1.4142135623730951j)

Complex numbers can have integer or floating point real and imaginary parts. To get these, you should append something to the complex number: if it is 'z', then `z.real` and `z.imag`.

In [ ]:
(1.5+0.5j).real

1.5

In [ ]:
(1.5+0.5j).imag

0.5

Conversion between types (`float()` and `int()`) does not work directly on complex numbers. You can take the absolute value, using `abs(z)`, or convert the real and imaginary parts separately, `z.real` and `z.imag`.

In [ ]:
float(3.0+4.0j) # returns an error

TypeError: can't convert complex to float

In [1]:
int((3.0+4.0j).real)+1j*int((3.0+4.0j).imag)

(3+4j)

---

## Variables

Useful information is stored in variables. Their names are usually written using the English alphabet and some other characters. Examples:
```python
width        # only letters
length_of_corridor # use _ to separate words
```

It is advised to use longer, self-documenting variable names, to make sure your code is more readable.
Like in most other programming languages, = is for assigning a value to the variable.

In [ ]:
width = 20
height = 5*9

We now have two variables,  `width` and `height`, which we can use for calculation. For example, area:

In [ ]:
width * height # calculating the area

900

If we refer to a variable that is not yet defined (no value assigned to it), we get an error message:

In [ ]:
n  # Never used yet

NameError: name 'n' is not defined

We can access the last printed value using the special variable _ (underscore). This might be useful if we continue calculations, but could also lead to problems if blocks are not executed sequentially.

In [6]:
tax = 12.5 / 100

In [4]:
price = 100.50

In [7]:
price * tax

12.5625

In [8]:
price + _

113.0625

In [9]:
round(_, 2) # rounding to 2 digits

113.06

You should not assign a value to `_` - this creates a variable with that name, and you thereby lose its special functionality. This is like creating a local variable with a name used by a global variable: local overrides global.

We can also refer to the return values of previous cells

In [11]:
Out[2]

KeyError: 2

---

## Logical (Boolean) variables and conditionals
To react to the input, we will need control statements. Think of the formula for the root of a quadratic equation! Depending on the value of the discriminant, there will or will not be (real valued) roots. We thus are driven to logical variables (e.g., is the discriminant positive), which can be  *True* or *False*. Such variables have the type **boolean** (after Boole). (Not **int** or **float**)

Asking whether two things are equal is by two equal signs, the operator == .

In [ ]:
1 == 1  # is 1 1?

True

In [ ]:
1 == 2 # is 1 2?

False

We can also test `not equal`, using != :

In [ ]:
1!=2 #  is 1 not 2 ?

True

Of course, to find out which number is bigger, we can use <,> :

In [ ]:
1>2

False

In [ ]:
1<=2

True

In [ ]:
1j+3>2 # this does not make sense for complex numbers

TypeError: '>' not supported between instances of 'complex' and 'int'

We can store a boolean in a variable:

In [ ]:
true_or_false = 2*2==5

In [ ]:
true_or_false

False

We can create longer logical formulas using **and**, **or** and **not** .

In [ ]:
not 2*2==5

True

These **and**, **or**, and **not** will be evaluated after the relation signs (they have lower precedence).
Among the three, **not** is evaluated first (highest precedence), and **or** last.

In [ ]:
b=3
((1==2) and (3==4)) or (b==3)

True

In [ ]:
1==2 and 3==4 or not b!=3

True

In [ ]:
1==2 and (3==4 or not b!=3)

False

## Strings (of characters)

Python is a great tool for manipulating strings of characters, such as words. We can use simple quotes ('...')  or double ("...") -- there is no significant difference. We can use the backslash (`\`) to protect quotes:

In [ ]:
'spam eggs'

'spam eggs'

In [ ]:
'doesn\'t'

"doesn't"

In [ ]:
"doesn't"

"doesn't"

In [ ]:
'"Yes," he said.'

'"Yes," he said.'

In [ ]:
"\"Yes,\" he said."

'"Yes," he said.'

In [ ]:
'"Isn\'t," she said.'

'"Isn\'t," she said.'

When the return value is a character string, it is displayed between `'` characters, which can result in an ugly output. Using print() will be prettier.

In [ ]:
print('"Isn\'t," she said.')

"Isn't," she said.

In [ ]:
s = 'First line.\nSecond line.'  # \n is short for "new line"

In [ ]:
s  # if we don't use print(), the \n will be printed explicitly

'First line.\nSecond line.'

In [ ]:
print(s)  # print()-tel az \n újsort hoz létre

First line.
Second line.

If you need \n to be not interpreted as a newline, you can place an `r` in front of the beginning of the string:

In [ ]:
print('C:\some\name')  # \n is interpreted as newline

C:\some
ame

In [ ]:
print(r'C:\some\name')  # r before the string

C:\some\name

Character strings can span several lines. A possibility here is to use three quotation marks: """...""" or  '''...'''. Here line breaks will be parts of the string, but this can be avoided if the line is ended by \\.

In [ ]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect \
to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

Operations on character strings: addition is concatenation, multiplication by a number is repetition

In [ ]:
3 * 'un' + 'ium'

'unununium'

Using just a space between two strings is also concatenation,
But only with literal strings, not with variables.

In [ ]:
print ('Py' 'thon')

Python

In [ ]:
prefix = 'Py'
print(prefix 'thon')  # cannot interpret this

SyntaxError: invalid syntax (70677406.py, line 2)

Using `+` to concatenate strings works all the time:

In [ ]:
prefix = 'Py'
prefix + 'thon'

'Python'

You can also use several spaces between literal strings, to concatenate them:

In [ ]:
text = ('Text that is too long to practically handle, '
            'can be divided using newlines.')
text

'Text that is too long to practically handle, can be divided using newlines.'

Within a string, the characters making up the string can be referenced by their index. The first character has index 0, the second, 1, etc. (like in C)

In [ ]:
szo = 'Python'
print(szo[0])
print(szo[5])

P
n

An index can be negative, then it is counted towards the left:

In [ ]:
print(szo[-1])  # last
print(szo[-2])  # before last
print(szo[-6])

n
o
P

You can also reference a slice (part) of the string, using the operator `:`. Here, `[from:to]` means: starting with index `from`, up to, but not including index `to`. If `from < to` is not true, the returned string will be empty. Bear in mind that negative values of `from` and `to` are also allowed, they will be counted to the left.

In [ ]:
print(szo[0:2])  # starting with 0, ending up to, but not including, 2
print(szo[2:5])
print("Empty string:", szo[5:2])
print("Not empty string:", szo[-5:5])
print("Not empty string:", szo[2:-2])

Py
tho
Empty string:
Not empty string: ytho
Not empty string: th

Slicing: you can omit either `from` or `to`, then your slice will go all the way. Having the asymmetric definition of the from:to makes `s=s[:i] + s[i:]` hold for any i

In [ ]:
szo[:2] + szo[2:]

'Python'

In [ ]:
szo[:4] + szo[4:]

'Python'

In [ ]:
szo[-2:] # last 3 characters

'on'

In [ ]:
szo[-0]  # since -0 and 0 are the same

'P'

For an index too large, positive or negative, we obtain an error:

In [ ]:
szo[42]  # our "szo" has 7 characters

IndexError: string index out of range

Strings are so-called "immutable" in python, meaning, their characters cannot be changed:

In [ ]:
szo[0] = 'J'

TypeError: 'str' object does not support item assignment

But we can always create a new string with a different content:

In [ ]:
new_szo = 'J' + szo[1:]
print (new_szo)

Jython

The length of a string is obtained by the built-in function len() :

In [ ]:
s = 'Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch'
len(s)

58

---

## Lists -- strings are immutable lists of characters

Python has many data structures where we can group together variables. The most often used, most versatile is the list. The elements of a list are separated by commas, and entered between square brackets.

Elements of a list don't need to have the same type.

In [ ]:
a = ['spam', 3.5, 100, 1234]
print(a)
print(a[0], a[3])

['spam', 3.5, 100, 1234]
spam 1234

Slicing works for lists in the same way as for strings:

In [ ]:
a[1:-1]   # returns a new list

[3.5, 100]

Operations on lists are the same as for strings. Actually, strings are special cases of lists (immutable lists of characters).

In [ ]:
print(a[:2] + ['ham', 2*2])
print(3*a[:3] + ['Boe!'])
print("length of string is ", len(a))

['spam', 3.5, 'ham', 4]
['spam', 3.5, 100, 'spam', 3.5, 100, 'spam', 3.5, 100, 'Boe!']
length of string is  4

Lists can be edited: unlike strings, they are not immutable.

In [ ]:
print(a)
a[2] = a[2] + 23
print(a)
a[0:2] = [1, 12] # Pár elem átírása:
print(a)

['spam', 3.5, 100, 1234]
['spam', 3.5, 123, 1234]
[1, 12, 123, 1234]

We can also change the number of elements of a string by editing:

In [ ]:
a = 2*a
print(a)
a[0:2] = []
print(a)
a[1:1] = ['bletch', 'xyzzy'] # Pár elem beszúrása:
print(a)
a[:0] = a     # Inserts a copy of a to the beginning
print(a)

[123, 'bletch', 'xyzzy', 1234, 1, 12, 123, 1234, 123, 'bletch', 'xyzzy', 1234, 1, 12, 123, 1234]
['xyzzy', 1234, 1, 12, 123, 1234, 123, 'bletch', 'xyzzy', 1234, 1, 12, 123, 1234]
['xyzzy', 'bletch', 'xyzzy', 1234, 1, 12, 123, 1234, 123, 'bletch', 'xyzzy', 1234, 1, 12, 123, 1234]
['xyzzy', 'bletch', 'xyzzy', 1234, 1, 12, 123, 1234, 123, 'bletch', 'xyzzy', 1234, 1, 12, 123, 1234, 'xyzzy', 'bletch', 'xyzzy', 1234, 1, 12, 123, 1234, 123, 'bletch', 'xyzzy', 1234, 1, 12, 123, 1234]

We often need to add things to a list. We can do this by the methods append() and extend():

In [ ]:
b = [1, 2, 4]
print(b)
b.append(5)
b.append(8)
print(b)
b.extend([10, 12])
print(b)

[1, 2, 4]
[1, 2, 4, 5, 8]
[1, 2, 4, 5, 8, 10, 12]

Lists can also be elements of lists:

In [ ]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [ ]:
x[0]

['a', 'b', 'c']

In [ ]:
x[0][1]

'b'

In [ ]:
x[0][1]

'b'

If you want to know the order of an element in the list, use `.index()` method. For example:

In [ ]:
cars = ['skoda', 'vw', 'mercedes', 'mazda', 'skoda']

In [ ]:
print(cars.index('mercedes'))
print(cars.index('skoda'))
print(cars.index('honda'))

2
0

ValueError: 'honda' is not in list

This method, `.index()` also exists for strings:

In [ ]:
my_string = 'abcdef'

In [ ]:
my_string.index('e')

4

To decide, if something is in a list or not, use **in**:

In [ ]:
Tage_der_Woche = ['Montag','Dienstag','Mittwoch','Donnerstag','Freitag','Samstag','Sonntag']

In [ ]:
'Monday' in Tage_der_Woche

False

In [ ]:
'Montag' in Tage_der_Woche

True

---

### Tuples (=immutable strings)
You will sometimes encounter immutable strings, so-called "tuples". These have elements between brackets

In [ ]:
b = (4, 5, 6, "hi")
print(b[2:-1])
b[0]=0

(6,)

TypeError: 'tuple' object does not support item assignment

### Dictionaries (Sometimes useful)

Sometimes we want to index data by keywords, not by numbers. For example, in an English-Hungarian dictionary, English words are indexed by Hungarian words. Or, specifying a car, we can have

- color red
- made in 1976
- length 3 m
- license plate AOK-621

These specify the car regardless of their order.

Python has a type, dictionary, which is useful in these cases.

In [ ]:
tel = {'John': 4098, 'Claire': 4139}
tel

{'John': 4098, 'Claire': 4139}

In [ ]:
tel['John']

4098

Adding new elements by keyword:

In [ ]:
tel['Helen'] = 4127
tel

{'John': 4098, 'Claire': 4139, 'Helen': 4127}

Keywords or elements don't need to have the same type:

In [ ]:
tel['Brünhilda']='Don\'t know'
tel

{'John': 4098, 'Claire': 4139, 'Helen': 4127, 'Brünhilda': "Don't know"}

We can delete someone

In [ ]:
del tel['John']
tel

{'Claire': 4139, 'Helen': 4127, 'Brünhilda': "Don't know"}

In [ ]:
tel.keys()

dict_keys(['Claire', 'Helen', 'Brünhilda'])

It is often useful to convert the output of the above command to a list, using `list()`:

In [ ]:
list(tel.keys())

['Claire', 'Helen', 'Brünhilda']

In [ ]:
print('Géza' in tel, 'Helen' in tel)

False True

*Megjegyzés:* Nyilván attól, mert Brünhilda benne van a telefonkönyvben, nem biztos, hogy tudjuk a telefonszámát:

In [ ]:
print('Brünhilda' in tel)
print(tel['Brünhilda'])

True
Don't know

A handy way of defining a dictionary is using the function **dict**. This will be useful for using functions with many variables, and for the package `plotly`.

In [ ]:
tel2 = dict(Ica=1234, Maca=4321, Dada=5567)
tel2

{'Ica': 1234, 'Maca': 4321, 'Dada': 5567}

---

## Boolean variables and other variables
We can convert objects to Boolean variables, using the function **bool()**.

This typically returns "True", except for 3 special cases: the number 0 (int or float), the empty character string, and an empty list.

In [ ]:
print(bool(1.0))
print(bool(1.1))
print(bool(-2.3))
print(bool('any text'))
print(bool(0.))
print(bool([1, 'b']))

True
True
True
True
False
True

In [ ]:
bool('')

False

In [1]:
bool([])

False

# Basic control  structures

Algorithms contain not only commands, but also connection between these commands. These are proveided by control structures. The most basic ones are "if" and "for".

##  `if`

In [ ]:
if 2+2==4:
    print('Maths still works')

Maths still works

<p style="color:darkred;"> <b>Attention, we indented the second line!</b>
    Indenting is the python way of grouping commands.  </p>
    
    The usual choice is to indent by 4 spaces for a group. Thus, for two nested **`if`** commands, the second one will be followed by an indent of 8 spaces. This is the default for `jupyter` notebooks, and happens automatically: after a `:`, pressing "return" indents by 4, further newlines as well. We can use backspace and tab to go up/down in the indent hierarchy. Note that unlike in C, C++, Java, no curly braces {} are required in python:

In [ ]:
today='Monday';
time='12:00';
if today=='Monday':
    if time=='12:00':
        print('Python is fun')

Python is fun

**`if`** can be combined with **`else`** and **`elif`**  -- this latter is short for "else if"

In [ ]:
x = 1
if x < 0:
    x = 0
    print('Negative, changed to 0')
elif x == 0:
    print('Zero')
elif x == 1:
    print('One')
else:
    print('Many')

One

**`elif`** is useful to avoid too many indents. Use **`if`** ...**`elif`** ... **`elif`** ... instead of `switch` and `case`.

## **`for`** and `while`

In [ ]:
days_of_the_week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

In [ ]:
for day in days_of_the_week:
    print(day)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [ ]:
# of course, we can give any name to the dummy variable used in the cycle:
for jjj in days_of_the_week:
    print(jjj)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In a cycle we can have many things:

In [ ]:
for day in days_of_the_week:
    statement = "Today is " + day
    print(statement)

Today is Sunday
Today is Monday
Today is Tuesday
Today is Wednesday
Today is Thursday
Today is Friday
Today is Saturday

The command **`range()`** returns a so-called iterable, a sequence of numbers. Practical in combination with **`for`**:

In [ ]:
for i in range(20):
    print(i," times ",i ," is ",i*i)

0  times  0  is  0
1  times  1  is  1
2  times  2  is  4
3  times  3  is  9
4  times  4  is  16
5  times  5  is  25
6  times  6  is  36
7  times  7  is  49
8  times  8  is  64
9  times  9  is  81
10  times  10  is  100
11  times  11  is  121
12  times  12  is  144
13  times  13  is  169
14  times  14  is  196
15  times  15  is  225
16  times  16  is  256
17  times  17  is  289
18  times  18  is  324
19  times  19  is  361

In [ ]:
a_prev=1 # show in lab
for i in range(1,20):
    a=2*a_prev
    print("a_", i, " = ", a)
    a_prev=a

a_ 1  =  2
a_ 2  =  4
a_ 3  =  8
a_ 4  =  16
a_ 5  =  32
a_ 6  =  64
a_ 7  =  128
a_ 8  =  256
a_ 9  =  512
a_ 10  =  1024
a_ 11  =  2048
a_ 12  =  4096
a_ 13  =  8192
a_ 14  =  16384
a_ 15  =  32768
a_ 16  =  65536
a_ 17  =  131072
a_ 18  =  262144
a_ 19  =  524288

In [ ]:

fibonacci_sequence = 1
for i in range(20):
    fibonacci_sum += i
    print(," times ",i ," is ",i*i)

The sequence returned by **`range()`**  can be converted into a list for slicing

In [ ]:
b = range(20)
print(list(b)[2:10])
print(b[2:10])

[2, 3, 4, 5, 6, 7, 8, 9]
range(2, 10)

A more complex example:

In [ ]:
for day in days_of_the_week:
    statement = "Today is " + day
    print(statement, "  -->  ")
    if day == "Sunday":
        print ("   Sleep in")
    elif day == "Saturday":
        print ("   Do chores")
    else:
        print ("   Go to work")

Today is Sunday   -->
   Sleep in
Today is Monday   -->
   Go to work
Today is Tuesday   -->
   Go to work
Today is Wednesday   -->
   Go to work
Today is Thursday   -->
   Go to work
Today is Friday   -->
   Go to work
Today is Saturday   -->
   Do chores

We can also use `while`:

In [ ]:
i=0
while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

*Attention*:  `while` can easily result in an infinite cycle, which we can only exit by stopping the kernel, using the Kernel menu Interrupt command (or pressing `I` twice). Example:
```python
while 1==1:
    print('Too much!!')
```

We can exit a loop using the command `break` — similarly to other languages. Note, however, this could result in a code that is harder to read.

In [ ]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'is composite:', x, '*', n//x)
            break
        else:
            print(n, 'is prime.')

3 is prime.
4 is composite: 2 * 2
5 is prime.
5 is prime.
5 is prime.
6 is composite: 2 * 3
7 is prime.
7 is prime.
7 is prime.
7 is prime.
7 is prime.
8 is composite: 2 * 4
9 is prime.
9 is composite: 3 * 3

## An example: the Fibbonacci sequence
The [Fibonacci](http://en.wikipedia.org/wiki/Fibonacci_number) sequence is fun to calculate by hand, easier by computer:

In [ ]:
n = 10 #  number of elements
sequence = [0, 1] # first two elements to be specified
for i in range(2, n): # n should be larger than 1!
    sequence.append(sequence[i-1] + sequence[i-2])
print (sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Let's go through this! First $n$ is set, the length of the sequence, to 10. The Fibonacci sequence is named **`sequence`**, and *initialized* with its first two elements. This was "by hand", but now the computer can do its job, namely, iterate.

Iteration begins with 2 (because of starting the indexing with 0, this is actually the 3rd element), and goes to $n$.

In each iteration we make the list longer, by appending the sum of the last two elements.

A faster solution, using **`while`**:

In [ ]:
sequence = [0,1]
while len(sequence) < 10:
    sequence.append(sequence[-1]+sequence[-2])
print (sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# Functions

A common practice in programming languages is to wrap algorithms into functions. This can result in shorter and much more easy-to-read code.

## Example: Fibonacci function

In [14]:
def fibonacci(sequence_length):     # use "def" to define a function
    """Computes and returns the first few elements
    of the Fibonacci sequence """   # good practice to write help strings
    sequence = [0,1]
    if 0 < sequence_length < 3:
        return sequence[:sequence_length]
    for i in range(2,sequence_length):
        sequence.append(sequence[i-1]+sequence[i-2])
        print(i)
    return sequence

In [16]:
ll = fibonacci(5)
#print(ll)
#for j in ll:
#    print(j)

2
3
4

In [17]:
fibonacci(5)

2
3
4

[0, 1, 1, 2, 3]

Let's go through this! The semicolon and the indentation define the block of the definition of the function.

Every well written function should begin with a documentation string, which can be retrieved using the command  **help**:

In [18]:
help(fibonacci)

Help on function fibonacci in module __main__:

fibonacci(sequence_length)
    Computes and returns the first few elements
    of the Fibonacci sequence

Not in Google colab, but in a usual jupyter notebook, the docstring can also be accessed via  ? :

In [4]:
?fibonacci

Even better, we can view the `docstring` as a kind of help in `jupyter` by moving the cursor to the function, and pressing SHIFT+TAB. Holding SHIFT pressed, and pressing TAB again and again gives a larger display of the help string, even moving it to a separate window.

On Google Colab, this works by "Ctrl+SPACE"

In [5]:
fibonacci()

TypeError: fibonacci() missing 1 required positional argument: 'sequence_length'

A function usually returns a value, this is specified by the keyword **`return`**. We can also choose not to have a  **`return`** then our function returns the value **None**. If function is exited without performing the  **`return`**, it also returns with the value **None**. Our function  **fibonacci** returns a list:

In [6]:
x=fibonacci(30)
print(x)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229]

This is a function with no return -- but is does something

In [19]:
def empty_function(x):
    print('I am an empty function,\n no talk,\n but I run!!')
    y=x-2;

This can result in no value for the variable **z**:

In [20]:
y = 4
z = empty_function(3)
print(y)

I am an empty function,
 no talk,
 but I run!!
4

In [9]:
print(z)

None

A function can have multiple variables:

In [21]:
def adder(a,b):
    return a+b

In [22]:
adder(1, 2)

3

A function can return multiple variables. Python allows this too.

In [ ]:
def plusminus(a,b):
    return a+b,a-b

In [ ]:
p,m=plusminus(2,3)
print (p)
print (m)

5
-1

In [ ]:
c = plusminus(3, 4)
print(c)

(7, -1)